body {
	font-size: 2.5em;
}

div {
	margin: 0px;
	border: 0px;
}


.navbar {
	margin: 0;
	padding: 0;
	border-width: 0;
	background-color: #fff0f5;
}

.navbar-header {
	margin: 0;

}
.navbar-default .navbar-brand {
    color: #777;
    font-weight: bold;
}

.food {
	/* background-color: red; */
	margin: 0;
	padding: 0;
	border-width: 0;
}

#nav-list {
	text-align: center;
	border-color: red;
	border-style: solid red;
	border-width: 15px;
	width: 100%
	margin: 0;
	padding: 0;
}

 li.food a:active, li.food a:hover {
	border: 2px solid gray;
	color: 00ff00;
	cursor: pointer;
	box-shadow: 3px 3px gray, -1em 0 .4em olive;

}

#bs-example-navbar-collapse-1 {
	border-color: red;
	border-style: solid red;
	border-width: 0px;
	width: 100%
	margin: 0;
	padding: 0;
}

#bs-example-navbar-collapse-1.navbar-collapse.collapse.in {
	border-color: red;
	border-style: solid red;
	border-width: 0px;
	width: 100%
	margin: 0;
	padding: 0;
}


/* -----------CONTENT STYLE --------------- */
.content {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
h1 {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 0px;
}

h2 {
	/* background-color: yellow; */
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}

p {
	/* background-color: yellow; */
	width: 98%;
	margin-left: 1%;
}

article {
	background-color: #fff0f5;
}

article > img {
	float: left;
	margin-right: 1px;
}

/* -----------END CONTENT STYLE --------------- */
